* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app__body {
  display: grid;
  grid-template-columns: 2fr 4fr 3fr;
  column-gap: 1.5em;
  width: 90%;
  max-width: 1300px;
  margin: auto;
  margin-top: 2em;
}

ul {
  list-style: disc;
  color: gray;
}
